body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
	background-image: url(header.jpg);
	background-position: center;
	background-size: cover;
    color: white;
    font-size: 2em;
    text-align: center;

}

.content{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	opacity: 0.8;
	text-transform: uppercase;
}

.btn {
	border-radius: 300px;
	border-color: red;
	font-size: 0.5em;
	font-weight: bold;
	margin-top: 140%;
	padding: 15px 35px 15px 35px;
	transition: all .3s;
	text-transform: uppercase;
}

.btn:hover{
	transform: scale(1.1);
}